#all-bg-color{
    background-color: rgba(65, 37, 103, 1);
}
.class_flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.class_flex ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.topnav{
    width: 100%;
    height: 92px;
    border-bottom: 1px blue solid;
    background-color: rgba(65, 37, 103, 1);
}
#normal_text{
    color:white;
}
#tech_wave{
    font-size: 60px;
}
.wavecolor{
    background: linear-gradient(to left, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.backgroundcolor{
    background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.button_size{
    width: 135px; ;
    height: 44px;
    border: 0;
    border-radius: 20px;
}